.sort {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.descending {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    margin: 10px 4px 0 4px;
}

.ascending {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin: 5px 4px 0 4px;
}

.no-sort {
    display: none;
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    border-width: 0 2px 2px 0;
}

thead th {
    cursor: pointer;
}

.banner {
    display: none;
    padding: 1.5rem;
    color: #fff;
    z-index: 41;
    position: fixed;
    width: 25rem;
    top: 2.5rem;
    border-radius: 1rem;
    right: 30px;
}

.banner-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1rem;
    font-size: 2.5rem;
}

.banner-body {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-left: 1rem;
}

.banner-body p {
    margin-bottom: 0;
}

.banner-visible {
    display: flex;
    flex-direction: row;
    transition: opacity 1.5s linear;
    opacity: 0.95;
}

.banner-hidden {
    display: flex;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1.5s, opacity 1.5s linear;
}

.timetable {
    width: 100%;
    overflow-x: scroll;
    margin-bottom: 50px;
}

.period-dropzone {
    padding: 30px;
    border: 1px dashed #75868a;
    list-style: none;
}

.draggable {
    margin-bottom: 10px;
    padding: 2px 10px;
    border: 1px solid #018db6;
    cursor: grab;
    background: #018db6;
    color: #ffffff;
    border-radius: 5px;
    width: 100%;
    height: auto;
}

.draggable:active {
    cursor: grabbing;
}

.draggable-title {
    font-size: 16px;
}

.timetable-lesson-description {
    font-size: 14px;
}