@page "/"
@inject SaveBannerService SaveBannerService

<div>
    <img src="assets/app-icon/png/128.png" alt="IB-Timetabler Icon" style="display: block; margin-left: auto; margin-right: auto;" draggable="false"/>
    <h1 style="text-align: center">About IB Timetabler</h1>
    <p style="text-align: center">This application allows you to manage details about availble lessons,
    periods, blocks, teachers, and rooms and generate a timetable from the given data.</p>
    <div style="text-align: center; padding-bottom: 25px">
        Use the navigation bar on the left to begin managing your lessons and generating timetables.
    </div>
</div>