@page "/"
@inject SaveBannerService SaveBannerService

<TitleComponent Page="IB Timetabler"></TitleComponent>
<br/><br/>

<div class="icon is-large"><i class="fas fa-long-arrow-alt-left"></i></div>
<span>Use the navigation bar on the left to visit different pages, manage details, and generate valid timetables!</span>

@* <button class="btn btn-info" @onclick="@(() => SaveBannerService.ShowBanner("I'm an INFO message", SaveBannerType.Info))">Info Toast</button> *@
@* <button class="btn btn-success" @onclick="@(() => SaveBannerService.ShowBanner("I'm a SUCCESS message", SaveBannerType.Success))">Success Toast</button> *@
@* <button class="btn btn-warning" @onclick="@(() => SaveBannerService.ShowBanner("I'm a WARNING message", SaveBannerType.Warning))">Warning Toast</button> *@
@* <button class="btn btn-danger" @onclick="@(() => SaveBannerService.ShowBanner("I'm an ERROR message", SaveBannerType.Error))">Error Toast</button> *@
