@page "/timetable"
@inject SaveBannerService SaveBannerService
@using System
@using System.Collections.Generic
@using System.Linq;

<TitleComponent Page="Timetable"></TitleComponent>

<br/>
<button class="button is-info is-large"  style="margin-bottom: 15px">
    <span class="icon" style="margin-right: 7px"><i class="fas fa-calculator"></i></span>
    <span>Generate Timetable</span>
</button>

@code{
    
    
}