@inject LessonService LessonService
@inject SavedLessonService SavedLessonService
@inject TeacherService TeacherService

<div class="draggable" draggable="true" title="@Lesson.Name"
     @ondragstart="() => HandleDragStart(SavedLessonIdperiodId)">
    <p class="draggable-title">@Lesson.Name</p>
    <p class="timetable-lesson-description">Teacher: @Teacher.Name</p>
</div>

@code {
    
    [Parameter]
    public TimetableContainerComponent Container { get; set; }
    [Parameter]
    public SavedLessonIdperiodId SavedLessonIdperiodId { get; set; }
    Lesson Lesson = null;
    Teacher Teacher = null;

    protected override async void OnParametersSet() {
        Lesson = await LessonService.GetLessonAsync(SavedLessonService
            .GetSavedLessonAsync(SavedLessonIdperiodId.SavedLessonId).Result.LessonId);
        Teacher = await TeacherService.GetTeacherAsync(Lesson.TeacherId);
    }

    private void HandleDragStart(SavedLessonIdperiodId selectedLessonIdperiodId) {
        Container.Payload = selectedLessonIdperiodId;
    }
}