<div class="draggable" draggable="true" title="@Lesson.Name"
     @ondragstart="() => HandleDragStart(SavedLessonIdperiodId)">
    <p class="draggable-title">@Lesson.Name</p>
    <p class="timetable-lesson-description">Teacher: @Teacher.Name</p>
</div>

@code {
    
    [Parameter]
    public TimetableContainerComponent Container { get; set; }
    [Parameter]
    public SavedLessonIdperiodId SavedLessonIdperiodId { get; set; }
    Lesson Lesson = null;
    Teacher Teacher = null;

    protected override void OnParametersSet() {
        Lesson = Container.Lessons.FirstOrDefault(x => x.Id ==
            Container.SavedLessons.FirstOrDefault(y=>y.Id == 
                SavedLessonIdperiodId.SavedLessonId)?.LessonId);
        Teacher = Container.Teachers.FirstOrDefault(x=>x.Id == Lesson.TeacherId);
    }

    private void HandleDragStart(SavedLessonIdperiodId selectedLessonIdperiodId) {
        Container.Payload = selectedLessonIdperiodId;
    }
}